/* General */
body{overflow:auto;}
.examplecompany-container{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    font-size:12px;
}
.examplecompany .container{
    margin:auto;
    width:988px;
}

.examplecompany-container h1,
.examplecompany-container h2,
.examplecompany-container h3,
.examplecompany-container h4,
.examplecompany-container h5,
.examplecompany-container h6{
    color: #404041;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.text{
    text-align: center; 
    font-size: 20px;
}
/* Footer */
footer{
    margin-top: 80px;
}
footer img{
    float: left;   
    width: 60px;
    height: auto;
    margin-right: 20px;
}
footer p{
    padding-top: 50px;
    font-size: 17px;
}

/* Anonymous Master Page */

.examplecompany-anon .examplecompany-container h1{
    color:#009CDE;
    font-weight:bold;
    font-size:40px;
    margin-bottom:6px;
    font-family: Arial, Helvetica, sans-serif;
}
.examplecompany-anon .examplecompany-container h1{
    text-align:center;
}

/*Button*/
button
{
    margin-top: 30px;
    color: white;
    background-color: #0C79BF;
    padding: 0.6em 10px;
    min-height: 2em;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #0C79BF;
    text-decoration: none;
}
button:hover
{
    background-color: #135FA3;
}
button:active
{
    background-color: #125380;
}
button a{
    color: white;
    text-decoration: none;
}
