/* General */
body{overflow:auto;}
#s4-workspace {
    overflow: visible;
}

.examplecompany-container{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    font-size:12px;
}

.examplecompany-container a:link{
    color:#004797;
    text-decoration:underline;
}

.examplecompany .container{
    margin:auto;
    width:988px;
}

.examplecompany-container h1,
.examplecompany-container h2,
.examplecompany-container h3,
.examplecompany-container h4,
.examplecompany-container h5,
.examplecompany-container h6{
    color: #404041;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.examplecompany-container h1{font-size:18px;}

.clear-fix{clear:both;}

.clearfix:after{
    display:table;
    content:'';
    clear:both;
}

/* Override Bootstrap */

#ms-designer-ribbon [class*="span"]{
    margin-left:0;
}

#ms-designer-ribbon img{
    max-width:none;
}

/* Publishing Master Page */

.examplecompany-pub .s4-workspace{
    background-color:#e6e6e6;
    color:#404041;
}

.examplecompany-pub .container{
    background-color:#f7f7f7;
}

.examplecompany-pub header{
    background-color:#1c4c86;
    margin-bottom:30px;
}

.examplecompany-pub .examplecompany-container a,
.examplecompany-pub .examplecompany-container a:link,
.examplecompany-pub .examplecompany-container a:visited{
    color:#129EDA;
    text-decoration:none;
}

/* Header */
.examplecompany-banner{
    height: 140px;
    position:relative;
}

.examplecompany-banner img{
    border:0;
}

.examplecompany-banner a.ms-siteicon-a{
    display: block;
    height: 140px;
    max-height: none;
    max-width: none;
}

.examplecompany-pub .examplecompany-banner a:hover{
    text-decoration: underline;
}

.nav-bar{
    background-image: url("../images/transparent.png");
    color: #129EDA;
    height:28px;
    width:100%;
    position:absolute;
    bottom:0px;
    z-index:2;
    line-height:28px;
    font-size:11px;
}

.examplecompany-welcome{
    float:left;
    margin-left:20px;
}

.examplecompany-banner a:hover{
    text-decoration: underline;
}

.examplecompany-navlinks{
    float:right;
    margin-right:20px;
}

.examplecompany-navlinks ul{
    list-style:none;
    margin:0;
    padding:0;
}

.examplecompany-navlinks li{
    float:left;
    margin-left:15px;
}

.examplecompany-menu{
    background-color:#fafafb;
    height:50px;
}

.examplecompany-menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

.examplecompany-menu li.static{
    font-size:12px;
    line-height:14px;
    float:left;
    border-left:1px solid #c3c3c6;
    width:108px;
}

.examplecompany-menu li.static:first-child{
    border-left:0;
}

.examplecompany-menu li.static:hover,
.examplecompany-menu li.static.hover,
.examplecompany-menu li.static.hover-off{
    background-color:#c3c3c6;
    color:#fff;
}

.examplecompany-menu li.static > .ms-core-listMenu-item{
    height:40px;
    width:92px;
    padding:5px 8px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.examplecompany-menu li.dynamic-children ul.dynamic {   
    display:none;  
}

.examplecompany-menu li.dynamic {
    min-width: 108px !important;
}

.examplecompany-menu ul.root > li.dynamic-children > ul.dynamic {
    left: -1px !important;
    margin-top:12px;
}

.examplecompany-menu li.dynamic-children.hover ul.dynamic,
.examplecompany-menu li.dynamic-children.hover-off ul.dynamic,
.examplecompany-menu li.dynamic-children ul.dynamic:hover{
    display:block;
}

.examplecompany-menu li.static.hover > .ms-core-listMenu-item,
.examplecompany-menu li.static.hover-off > .ms-core-listMenu-item{
    color:#fff;
}

.examplecompany-menu li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover,
.examplecompany-menu li.hover-off > a.ms-core-listMenu-item.ms-core-listMenu-selected{
    color:#fff;
}

.examplecompany-menu li.static > span.ms-core-listMenu-item:hover .dynamic-children.additional-background{
    cursor:default;
}

.examplecompany-menu .ms-core-listMenu-horizontalBox .dynamic-children.additional-background{
    background-image:none;
    padding-right:0px;
}

.examplecompany-menu ul.dynamic {
    
    background-color: #C3C3C6;
    border: 0 none;
    box-shadow: none;
    padding:0;
    color:#fff;
}



.examplecompany-menu ul.dynamic a:link,
.examplecompany-menu ul.dynamic a:visited{
    color:#fff;
}

.examplecompany-menu ul.dynamic li{
    font-size:11px;
    padding:5px 13px 5px 10px;
    
}

.examplecompany-menu ul.dynamic li:hover{
    background-color:#bbb;
}

.examplecompany-pub .examplecompany-menu a:link,
.examplecompany-pub .examplecompany-menu a:visited{
    color:#404041;
    text-decoration: none;
}

.examplecompany-pub .examplecompany-menu a:hover{
    color:#fff;
    text-decoration: none;
}

.examplecompany-pub .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{
    border:none;
    margin-right:0px;
}

/* Body */
.examplecompany-body{
    background-color: #F7F7F7;
    margin: 0 auto 20px;
    width: 888px;
}

/* Admin Switch User */

.examplecompany-adminbar {
    border-top: 1px solid #C3C3C6;
    margin: 0 auto;
    padding: 20px;
    width: 888px;
}

.admin-cur-user{
    font-weight:bold;
}

.admin-dropdown{
    width:230px;
}

.admin-password{
    width: 130px;
}

.admin-currentbar{
    margin-bottom:5px;
}

input.admin-switchuser{
    width: 80px;
    padding: 2px 5px;
    height:auto;
}

/* Footer */
.examplecompany-pub footer{
    background-color: #DEDEE0;
    color: #A1A1A5;
    font-size: 11px;
    padding: 7px;
}

.examplecompany-pub .footer-left{
    float:left;
}

.examplecompany-pub .footer-right{
    float:right;
}

.examplecompany-pub footer ul{
    margin:0;
    padding:0;
    list-style:none;
}

.examplecompany-pub footer li{
    float:left;
    margin-left:15px;
}

.examplecompany-pub .examplecompany-container footer a:hover{
    text-decoration:underline;
}

/* Blank Master Page */

.examplecompany-blank .examplecompany-container{
    background-color:#fff;
}

.examplecompany-blank .examplecompany-container p{
    margin-bottom:5px;
}

/* Anonymous Master Page */

.examplecompany-anon .examplecompany-container h1{
    color:#009CDE;
    font-weight:bold;
    font-size:14px;
    margin-bottom:6px;
    font-family: Arial, Helvetica, sans-serif;
}

.examplecompany-anon .examplecompany-container{
    background-color:#fff;
    border: 0;
    margin:0;
    padding:0;
}

.examplecompany-anon .examplecompany-container h1{
    text-align:center;
}

.examplecompany-anon .examplecompany-logo{
    border-bottom:1px solid #fff;
    padding: 20px 0 0 2px;
    float:left;
}

.examplecompany-anon .examplecompany-logo img{
    border: 0 none;
    height: 56px;
    width: 130px;
}

.examplecompany-anon footer{
    background-color:#004797;
    clear:both;
    color:#fff;
    font-size:11px;
    font-weight:bold;
    height:19px;
    padding: 1px 14px 0 13px;
}

.examplecompany-anon .footer-text-copyright{
    width:500px;
    float:left;
}

.examplecompany-anon .footer-text-legal{
    text-align:right;
    float:right;
}

.examplecompany-anon .footer-text-legal a:link{
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}

/* Firm Display */

.firm-logo {
    float: right;
}

.firm-logo img {
    max-width: 200px;
}

.firm-detail {
    padding: 4px 0;
}

.firm-detail-label {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight:bold;
}

.firm-box{
    margin-top: 10px;
    border: 1px solid #004797;
}

.firm-box-label {
    padding: 5px 10px;
    font-weight: bold;
    background-color: #dce6f1;
    border: 1px solid #bebec1;
}

.firm-box-value {
    padding: 1px 10px;
    border-width: 0 1px 1px;
    border-color: #bebec1;
    border-style: solid;
    background-color: #fff;
}

/* Reports */

.examplecompany-main .sqlrv-WaitControlBackground{
	top: auto !important;
	left: auto !important;
}

/* Generic control styles */

.error {
    color: red;
    min-height:30px;    
    line-height:30px;
    text-align:center;
}

.examplecompany-changeaccount .error{
    padding: 5px 0;
    line-height: normal;
}

.errorIcon {
    width:12px;
    height:12px;
}

.controller {
    text-align:center;     
}

.examplecompany-form-container {
    display:inline-block;    
    width:auto;
    margin-left: auto;
    margin-right: auto;
}

.examplecompany-userpage input {
    border:1px solid #ababab;
    background-color:#fff;
    background-color:rgba( 255,255,255,0.85 );
    color:#444;  
    padding: 0px 2px 0px 2px;         
}

.examplecompany-userpage input:focus {
    border-color:#2a8dd4;
}

.examplecompany-userpage input:hover {
    border-color:#92c0e0;
}

.examplecompany-userpage input[type=email][disabled] {
    color:#b1b1b1;
    border-color:#e1e1e1;
    background-color:#fdfdfd;
}

.examplecompany-userpage input:-ms-input-placeholder {  
      color: lightgray;  
}  

.examplecompany-userpage select, .examplecompany-userpage input {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    width:100%;
    height:25px;
    border: 1px solid #ababab;
}

.login-middle-cell a:hover{
    color:#79AAD6;
}

.ng-pristine.ng-invalid{
    box-shadow: none;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  /*
  position: absolute;
  width: 50%;   
  top: 50%;
  left: 50%;
  */

  position:absolute;
  width:300px;
  height:200px;
  top:50%;
  left:50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
   
    line-height:200px;
    /*
  padding-top:10px;
  padding-bottom:10px;
        */
  text-align: center;
  color:#3399FF;
  font-size:xx-large;
  vertical-align:central;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.fileset-left {
    position:relative; 
    float:left; 
    width:300px; 
    height: 250px;
    border:1px solid black;
    border-radius:12px;        
    margin:10px;
    text-align:left;
}

.fileset-right {
    position:relative; 
    float:right; 
    width:300px; 
    height: 250px;;
    border:1px solid black;
    border-radius:12px;
    margin:10px;
    text-align:left;
}
   
.chgemail-left-cell {          
    clear:both;  
    text-align:right;
    width:50px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.chgemail-middle-cell, .chgemail-middle-button {
    text-align:right;
    width:220px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}
    
.chgemail-right-cell {
    text-align:left;
    width: 22px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.chgpwd-left-cell {          
    clear:both;  
    text-align:right;
    width:120px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.chgpwd-middle-cell {
    text-align:right;
    width:150px;
    height:30px;
    float:left;
    line-height:30px;     
    min-height:12px;   
}
    
.chgpwd-right-cell {
    text-align:left;
    width: 22px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}
  
.left-side-cell {          
    clear:both;  
    text-align:right;
    width:250px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.right-side-cell {
    text-align:left;
    width:250px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;   
}

.middle-cell {
    text-align:left;
    width: 200px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.firm option { 
    color: black; 
}

.divSection {
    width:auto;
    height: 200px;
}
   
.login-left-side-cell {          
    clear:both;  
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    text-align:right;
    width:100px;
    float:left;
    height:30px;
    line-height:30px;
    min-height:12px;
}

.login-right-side-cell {
    text-align:left;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    width:100px;
    height:30px;
    float:left;
    line-height:30px;
    min-height:12px;
}

.error.changePwdErrorMessage {
    line-height: 20px;
    text-align:left;
}

.login-middle-cell {
    text-align:right;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    width: 220px;
    /*height:30px;*/
    float:left;
    line-height:30px;
    min-height:12px;
}

.acknowledgement {
    width:150px;
    height:300px;
    line-height:30px;
    text-align:center;
}

.login-middle-cell button, .middle-cell button {
    width:60px;
    margin: 5px 0 5px 10px;
    padding: 2px 0;
    line-height:19px;
}

.chgemail-middle-button input, .chgpwd-middle-cell button{
    width:150px;
    height: 30px;
    margin: 5px 0px 5px 10px;
    padding: 0px;

}

.examplecompanyFirmPeopleTr th {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    text-align:center;
    border-bottom:solid 1px lightgray;
    /*border:solid 1px black;
     
    background-color:lightblue;*/         
}

.examplecompanyFirmPeopleTr th.title, th.remove {
    width:80px;
    min-height: 30px;
}

.examplecompanyFirmPeopleTr th.name {
    width:240px;
    min-height: 30px;
}

.examplecompanyFirmPeopleTr th.email, .examplecompanyFirmPeopleTr th.roles {
    width:220px;
    min-height: 30px;
}

.examplecompanyFirmPeopleTr th.action {
    width:240px;
    min-height: 30px;
}

.examplecompanyFirmPeopleTr td {
    -moz-box-sizing: border-box;
    box-sizing:border-box;    
    text-align:center;         
    min-height: 30px;
}

.examplecompanyFirmPeopleTr a:hover {
    text-decoration:underline !important;
}

.firmDropdown {
    
    padding-top:3px;
    padding-bottom:3px;
}

.examplecompany-domain-warning {
  background-color: red;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 20px
}